.card{
    box-shadow: 0px 2px #ccc;
    border: 2px solid #ccc;
    border-radius:10px;

    &:hover{
        background-color: #ccc;
        box-shadow: 0px 0px #ccc;
        position: relative;
        top: 2px;
    }

    &:focus{
        background-color: lightblue;
        color: blue;
    }
}